canvas {
  border: solid 1px black;
}

.sprite {
  display: none;
}
body {
  height: 100%;
  overflow: hidden;
}

#pos {
  color: white;
  position: fixed;
  bottom: 430px;
  right: 650px;
  z-index: 99;
}
