canvas {
  border: solid 1px black;
}

.sprite {
  display: none;
}
body {
  height: 100%;
  overflow: hidden;
}

#pos {
  color: black;
  position: fixed;
  bottom: 390px;
  right: 670px;
  z-index: 99;
}
